In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
contracts = pd.read_csv('data/contracts.csv', sep=',')

In [6]:
contracts

       contract_reg_number             id      price contract_conclusion_date
0                      NaN  purch_8812395   75922.50               1970-01-01
1                      NaN  purch_8811406  452420.10               1970-01-01
2                      NaN  purch_8797328  115181.20               1970-01-01
3                      NaN  purch_8734078   35223.00               1970-01-01
4                      NaN  purch_8679515  135629.94               1970-01-01
...                    ...            ...        ...                      ...
489854        contr_394104  purch_9298529    1492.50               2022-09-29
489855        contr_394097  purch_9298820    4378.00               2022-09-29
489856                 NaN  purch_4054871   35280.00               2022-10-10
489857        contr_345787  purch_9213880  168000.00               2022-12-08
489858                 NaN  purch_3959205    3560.00               2023-01-13

[489859 rows x 4 columns]

In [7]:
def category(price):
    if price > 3e6:
        return '>3кк'
    if price > 6.5e5:
        return '>650к<3кк'
    if price > 5e5:
        return '>500к<650к'
    if price > 1e5:
        return '>100к<500к'
    else:
        return '<100к'

In [8]:
contracts['price_category'] = contracts['price'].apply(category)

In [15]:
contracts.to_csv('contracts_with_category.csv', sep=';')

In [14]:
contracts

,contract_reg_number,id,price,contract_conclusion_date,price_category
0,NaN,purch_8812395,75922.50,1970-01-01,<100к
1,NaN,purch_8811406,452420.10,1970-01-01,>100к<500к
2,NaN,purch_8797328,115181.20,1970-01-01,>100к<500к
3,NaN,purch_8734078,35223.00,1970-01-01,<100к
4,NaN,purch_8679515,135629.94,1970-01-01,>100к<500к
...,...,...,...,...,...
489854,contr_394104,purch_9298529,1492.50,2022-09-29,<100к
489855,contr_394097,purch_9298820,4378.00,2022-09-29,<100к
489856,NaN,purch_4054871,35280.00,2022-10-10,<100к
489857,contr_345787,purch_9213880,168000.00,2022-12-08,>100к<500к
489858,NaN,purch_3959205,3560.00,2023-01-13,<100к

In [18]:
pur = pd.read_csv('purchase_with_themes_and_regions.csv')

In [23]:
pur

,Unnamed: 0,id,purchase_name,lot_name,price,customer_inn,customer_name,delivery_region,publish_date,contract_category,theme
0,0,purch_3880086,Дератизация и дезинсекция,"Услуги по дезинфекции, дезинсекции и дератизации",32400.00,7825010179,САНКТ-ПЕТЕРБУРГСКОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ...,г. Санкт-Петербург,2021-12-13 16:20:28.000,Потребность,Утилизация отходов
1,1,purch_3880087,Оказание услуг по техническому обслуживанию уз...,Услуги по техническому обслуживанию приборов у...,62400.00,7825699343,САНКТ-ПЕТЕРБУРГСКОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ...,г. Санкт-Петербург,2021-12-13 16:20:48.000,Потребность,Оборудование и электротехнические услуги
2,2,purch_9193548,Пюпитр ATHLETIC NP-3AL,Принадлежности для музыкальных инструментов пр...,99360.00,7716221444,Государственное бюджетное учреждение дополните...,г. Москва,2021-12-13 16:21:05.880,КС,Бумага и печатные материалы
3,3,purch_9193549,РЕМОНТ ТЕКУЩИЙ АДМИНИСТРАТИВНЫХ ЗДАНИЙ,Текущий ремонт административных зданий....,271232.60,7718905471,Государственное бюджетное учреждение города М...,г. Москва,2021-12-13 16:21:06.617,КС,Услуги по лизингу и финансированию транспорта ...
4,4,purch_9193550,поставка Microsoft Windows Professional 10 «Wi...,ОКПД 2,158740.00,6027007117,Комитет по управлению государственным имуществ...,Псковская область,2021-12-13 16:21:21.337,КС,Производство и услуги оборудования
...,...,...,...,...,...,...,...,...,...,...,...
1059559,1059559,purch_4065969,Оказание услуг по обеспечению дежурства медици...,Услуги спортивных объектов,21000.00,5047076614,ГОСУДАРСТВЕННОЕ АВТОНОМНОЕ УЧРЕЖДЕНИЕ МОСКОВСК...,Московская область,2022-05-31 22:45:00.817,Потребность,Услуги по трудоустройству и подбору персонала
1059560,1059560,purch_4065977,Оказание услуг типографии,"Книги, брошюры, листовки печатные прочие и под...",73712.00,5053052788,муниципальное учреждение «Центр культуры «Досуг»,Московская область,2022-05-31 23:18:54.973,Потребность,Финансовые и страховые услуги
1059561,1059561,purch_4065976,Поставка бытовой химии,Пакеты для упаковки готовых изделий;Тряпки для...,17609.00,2364000890,МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛ...,Краснодарский край,2022-05-31 23:25:00.000,Потребность,Услуги по производству и доставке химической п...
1059562,1059562,purch_4065980,Поставка напольного покрытия (линолеума и комп...,Клеи прочие;Профили фасонные пластмассовые;Лин...,28260.50,2127311000,МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛ...,Чувашская республика,2022-05-31 23:42:44.000,Потребность,Строительство и производство
1059563,1059563,purch_9303620,Выполнение работ по текущему ремонту объекта в...,"Ремонт текущий нежилых зданий, помещений и соо...",550206.44,7736132129,Государственное бюджетное общеобразовательное ...,г. Москва,2022-05-31 23:51:22.963,КС,Общественные услуги

In [24]:
pur['pur_category'] = pur['price'].apply(category)

In [26]:
pur.to_csv('pur_with_price_category.csv', sep=';')